.App {
  text-align: center;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: dodgerblue;
}

header {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 2.5px;
  border: 1px solid dodgerblue;
  padding: 20px 50px;
  background-color: wheat;
}

button {
  margin: 20px;
  outline: none;
  border: 1px solid dodgerblue;
  padding: auto 9px;
  background-color: dodgerblue;
  border-radius: 3px;
  width: 90px;
  color: white;
  font-size: 0.65em;
  height: 30px;
  cursor: pointer;
}
